<header id="Header">
		    <div id="button1">
		        <i id="usericon" class="fas fa-user"></i>
		    </div>
		    <div id="button2">
		        <i id="bell" class="fas fa-bell" onclick="ChangeColor()"></i>
		    </div>
		</header>