<html>
    <head>
        <title>Instancia desejada</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
        <link href='https://fonts.googleapis.com/css?family=Sansita+Swashed' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <h1 style="color:white;">Could not find a path for the provided route: <%= route %></h1>
    </body>
</html>
