<html>
    <head>
        <title>Instancia desejada</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="main.css">
        <script src="https://kit.fontawesome.com/92b470d4bc.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div id="Header">
            <div id="button1">
                <i id="usericon" class="fas fa-user"></i>
            </div>
            <div id="button2">
                <i id="bell" class="fas fa-bell"></i>
            </div>
        </div>

        <div class="Partição PartiçãoPt1" id="ET">
            <h3>EndLess Tower</h3>
            <div class="Ticket">
                Gratís
                <p>
                    14:00
                </p>
            </div>
            <div class="Ticket" id="Pago">
                Pago
                <p>
                    R$ 2,00
                </p>
            </div>
        </div>
        <div class="Particao ParticaoPt2" id="Cake">
            <h3>Cake</h3>
        </div>
        <div class="Particao ParticaoPt3" id="Undead">
            <h3>Undeads</h3>
        </div>
        <div class="Particao ParticaoPt4" id="Oracle">
            <h3>Oracle</h3>
        </div>
        <div class="Particao ParticaoPt5" id="TT">
            <h3>Thanatos Tower</h3>
            <div class="Ticket" id="Pago">
                Pago
                <p>
                    R$ 2,00
                </p>
            </div>
        </div>
        <div class="Particao ParticaoPt6" id="EC">
            <h3>Sla oq Corridor</h3>
        </div>


        

    </body>
    
    <script>
        //Rezise do botão usuario.
        window.addEventListener("resize", Resize);
        
        function Resize() {
            // Tamanho da página.
            var BodyHeight = document.getElementById("Header").offsetHeight * 20;
            var BodyWidth = document.getElementById("Header").offsetWidth;
            
            // Tamanho de apenas um botão.
            var HeaderHeight = document.getElementById("button1").offsetHeight;
            var UserIconHeight = document.getElementById("usericon").offsetHeight;

            // Resizes
            document.getElementById("button1").style.width = HeaderHeight;
            document.getElementById("button1").style.left = (BodyWidth-HeaderHeight);
            document.getElementById("button2").style.width = HeaderHeight;
            document.getElementById("button2").style.left = (BodyWidth-HeaderHeight*2.15);
        };
        Resize();
    
    </script>
</html>
