<%-include('includes/head')%>
        <link rel="stylesheet" href="css/dashboard.css">
        <link rel="stylesheet" href="css/Painel.css">
        <link rel="stylesheet" href="css/ticket.css">
        <link rel="stylesheet" href="css/btns.css">
    </head>
    <body onload="Resize()">
        <%- include('includes/header')%>
        <div id="PainelControle"></div>
        <div class="container">
          

        </div>
        <%- include('includes/end') %>
