<html>
    <head>
        <title>Instancia desejada</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="../public/css/main.css">
        <link rel="stylesheet" href="../public/css/dashboard.css">

        <link rel="stylesheet" href="../public/css/ticket.css">
        
        <link rel="stylesheet" href="../public/css/Painel.css">
        <link rel="stylesheet" href="../public/css/Construtor.css">
        <link rel="stylesheet" href="../public/css/btns.css">

        <link href='https://fonts.googleapis.com/css?family=Sansita+Swashed' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    </head>

    <body>

        <header id="Header">
            <div class="containerHeader">
              <div id="button1" class="btn">
                  <i id="usericon" class="fas fa-user"></i>
              </div>
              <div id="button2" class="btn">
                  <i id="bell" class="fas fa-bell" onclick="CriarTicket()"></i>
              </div>
            </div>
        </header>

        <div id="PainelControle"><!--Não Me excluir!--></div>
        
        <div class="container">
          <div class="Particao" id="ET">
              <h3>EndLess Tower</h3>
              <div class="Tickets-Section">
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Grátis -->
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>14:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  
                  <!-- Excluir fiz para texte de Responsabilidade (48 Tickets)-->
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>15:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>16:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>17:00</p></div>
                  <div class="Ticket" id="Ticket" onclick="GratisClick()"><p>18:00</p></div>
                </div>
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Pagos -->
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>

                  
                  <!-- Excluir fiz para texte de Responsabilidade (48 Tickets)-->
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                  <div class="Ticket" id="Pago" onclick="PagoClick()"><p>R$ 2,00</p></div>
                </div>
              </div>
          </div>
          <div class="Particao gray" id="Cake">
              <h3>Cake</h3>
              <div class="Tickets-Section">
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Grátis -->
                </div>
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Pagos -->
                </div>
              </div>
          </div>
          <div class="Particao" id="Undead">
              <h3>Undeads</h3>
              <div class="Tickets-Section">
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Grátis -->
                </div>
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Pagos -->
                </div>
              </div>
          </div>
          <div class="Particao gray" id="Oracle">
              <h3>Oracle</h3>
              <div class="Tickets-Section">
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Grátis -->
                </div>
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Pagos -->
                </div>
              </div>
          </div>
          <div class="Particao" id="TT">
              <h3>Thanatos Tower</h3>
              <div class="Tickets-Section">
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Grátis -->
                </div>
                <div class="Tickets-Stack">
                  <!-- Aqui vão os Tickets Pagos -->
                </div>
              </div>
            </div>
          </div>
          <div class="Particao gray" id="EC">
            <h3>EC</h3>
            <div class="Tickets-Section">
              <div class="Tickets-Stack">
                <!-- Aqui vão os Tickets Grátis -->
              </div>
              <div class="Tickets-Stack">
                <!-- Aqui vão os Tickets Pagos -->
              </div>
            </div>
          </div>
        </div>
        <div>
          <footer></footer>
        </div>
    </body>
    
    <script type="text/javascript" src="../public/js/Construtor.js"></script>
    <script type="text/javascript" src="../public/js/main.js"></script>
    <script type="text/javascript" src="../public/js/Painel.js"></script>
    <script type="text/javascript" src="../public/js/request.js"></script>
    <script type="text/javascript" src="../public/js/ComboBox.js"></script>

    <script src="https://kit.fontawesome.com/92b470d4bc.js" crossorigin="anonymous"></script>
</html>
