.btn {
    background-color: #017374;
    height: 100%;
    width: 5vh;
    text-align: center;
    position: relative;
    flex: 1 0 1;
    border-left: black solid;
    z-index: 991;
    font-size: 2vh;
}

#button2 {
    order: -1;
}
#button3 {
    order: -2;
}

#CloseX {
    position: relative;
    top: 15%;
}