.BtnArrowPag {
    background-color: rgb(240, 248, 255);
    width: 2%;
    height: 80%;
    top: 10%;
    border-radius: 10008px;
    position: absolute;
}

.BtnArrowPagLeft {
    left: -2.2%;
    
}

.BtnArrowPagRigth {
    right:  -2.2%;

}

.BtnArrowPag::before {
    content: '';
    color: #090909;
    width: 100%;
    height: 100%;
    text-align: center;
}

.BtnArrowPagLeft::before{
    content: '<<';
}

.BtnArrowPagRigth::before{
    content: '>>';
}