.TituloH2 {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10%;
    font-size: 4vh;
    vertical-align: middle;
}

.ContainerCriandoTicket {
    position: absolute;
    width: 80%;
    height: 75%;
    left: 10%;
    bottom: 5%;
    display: grid;
    grid-template-areas:
    "Label1 Label1 Label1 Label1"
    "Input1 Input1 Input1 Input1"
    "Label2 Label2 Label2 Label2"
    "Input2 Input2 Input2 Input2"
    "Label3 Label4 Label5 Label6"
    "Input14 Input15 Input16 Input3"
    "Label7 Label7 Label8 Label8"
    "Input4 Input4 Input5 Input5"
    "Label12 Label9 Label10 Label11"
    "Input6 Input7 Input10 Input11"
    "Input8 Input9 Input12 Input13"
    "EnviarTicket EnviarTicket EnviarTicket EnviarTicket"
    ;
    grid-gap: 2px 10px;
}

.EnviarTicket{
    border: 2px solid rgb(8, 187, 241);
    background-color: rgba(34, 34, 34, 1);
    color: rgb(8, 187, 241);
    border-radius: 20px;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 25%;
    top: 30%;
    font: bold;
}

.Input {
    border: 0;
    border-bottom: 2px solid rgb(8, 187, 241);
    background-color: #222;
    color:rgb(8, 187, 241);
    font-size: 2vh;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.Label {
    color:rgb(8, 187, 241);
    font-size: 3vh;
    text-align: center;
    height: 4vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#ContainerTicket{
    width: 80%;
    height: 100%;
    position: relative;
    display: grid;
    left: 10%;
    text-align: left;
    
    grid-template-areas:
    "Titulo Titulo Titulo"
    "Descricao Descricao Descricao"
    "InstanciaENivel InstanciaENivel InstanciaENivel"
    "Horario Valor Owner"
    "SeInscrever SeInscrever SeInscrever"
}
#ContainerTicket Label {
    color: aliceblue;
}

#SeInscrever {
    width: 20%;
    position: relative;
    left: 40%;
    background-color: #FFFFFF00;
    height: 4vh;
    border-radius: 20px;
    border: 1px solid aliceblue;
    color: aliceblue;
}

#ContainerTicket_Titulo {
    top: 50%;
    position: relative;
    font-size: 4.5vh;
}
#ContainerTicket_Valor {
    text-align: center;
}
#ContainerTicket_Horario  {
    text-align: center;
}
#ContainerTicket_Owner {
    text-align: center;
}

@media (max-width: 768px) {
    .ContainerCriandoTicket {
        height: 85%;
        grid-template-areas:
        "Label1 Label1"
        "Input1 Input1"
        "Label2 Label2"
        "Input2 Input2"
        "Label3 Label4"
        "Input14 Input15"
        "Label5 Label6"
        "Input16 Input3"
        "Label7 Label8"
        "Input4 Input5"
        "Label12 Label9"
        "Input6 Input10"
        "Input7 Input11"
        "Input8 Input12"
        "Input9 Input13"
        "EnviarTicket EnviarTicket"
    }
    .Label {
        font-size: 2vh;
        height: 3vh;
    }
    #Label10{
        display: none;
    }
    #Label11{
        display: none;
    }
    .TituloH2 {
        top: 3%;
        height: 10%;
    }
}