.container {
  width: 100%;
  height: 90%;
  position: relative;
  text-align: center;
<<<<<<< HEAD
}
=======
  top: 5%;
  z-index: 0;
  }
>>>>>>> 0c53b1ff13d47435a4f6d63806239ca059eb178a

.Particao {
    min-height: 30%;
    width: 100%;
    background-color: rgba(0, 255, 255, 0.05);
    position: relative;
    
}
.gray {
    background-color: rgba(0, 0, 0, 0.05);
  }

.Tickets-Section {
  min-height: 10%;
  width: 95%;
  left: 2.5%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.Tickets-Stack{
  width: 100%;
  min-height: 10%;
  margin-bottom: 0.2%;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 180px));
  grid-column-gap: 1%;
  grid-row-gap: 5px;
  padding: 2.5% 0;
  overflow: auto;
  
}

h3{
  text-align: center;
  color: #D0FEFE;
  position: relative;
}


@media (max-width: 1440px) {
  .Tickets-Stack {
    grid-template-columns: repeat(auto-fit, minmax(10px, 70px));
  }
}


<<<<<<< HEAD
.container h3{
    text-align: center;
    color: hotpink;
    position: relative;
}
=======
>>>>>>> 0c53b1ff13d47435a4f6d63806239ca059eb178a


