header#Header {
    background-color: #000;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
div#button1 {
    background-color: rgb(77, 161, 240);
    width: 2.5%;
    height: 100%;
    text-align: center;
    position: relative;
    flex: 1 0 1;
}
div#button2 {
    background-color: rgb(77, 161, 240);
    width: 2.5%;
    height: 100%;
    border-left: black solid;
    text-align: center;
    position: relative;
    flex: 1 0 1;
}
#Header i{
    position: relative;
    top: 20%;
}

.container {
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
}

.Particao {
    height: 30%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
}

.Tickets-Section {
  width: 100%;
  height: 79%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Tickets-Stack{
  width: 100%;
  height: 49%;
  margin-bottom: 0.2%;
  display: flex;
  flex-direction: row;
}

h3{
    text-align: center;
    color: rgb(77, 161, 240);;
    position: relative;
}

.Ticket {
    margin-right: 0.2%;
    height: 100%;
    width: 10%;
    position: relative;
    background-color: aliceblue;
    text-align: center;
    border-radius: 5%;
    font-family: 'Bangers';
    flex: 1 0 1;
}
.Ticket::before {
    content: '';

    height: 100%;
    width: 10%;
    position: absolute;
    left: 0;
    background-color: cornflowerblue;
    transition: .3s ease;
}

#Pago::before {
    background-color: brown;
}

.Ticket:hover{
    content: '';
    background-color:rgba(0,0,0,0);
    transition: .3s ease;
}

.Ticket:hover::before{
    content: 'Loading...';
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0 5% 5% 0;
    position: absolute;
    left: 0%;
}

.gray {
  background-color: rgba(0, 0, 0, 0.05);
}

footer{
  width: 100%;
}
