#LoginContainer {
    width: 30%;
    height: 50%;
    min-width: 250px;
    border-radius: 20px 0 20px 20px;
    position: absolute;
    background-color: #ffffffff;
    border-radius: 10px 0 10px 10px;
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    top: 5%;
    right: 2%;
    display: none;    
}

#FormLogin{
    position: relative;
    height: 60%;
    top: 20%;
    display: grid;
    grid-template-areas:
    "LabelLogin"
    "Login"
    "LabelPass"
    "Password"
    "ButtonLogin";
    row-gap: 20px;
    text-align: center;
}

#LabelLogin{
    grid-area: LabelLogin;
    }
#Login{
    grid-area: Login;
    width: 90%;
    position: relative;
    left: 5%;

    background-color: #222;
    border-radius: 2px;
    border: 2px solid rgb(8, 187, 241);
    padding: 0 8px;
    color: rgb(8, 187, 241);
}
#LabelPass{
    grid-area: LabelPass;
}
#Password{
    grid-area: Password;
    width: 90%;
    position: relative;
    left: 5%;

    background-color: #222;
    border-radius: 2px;
    border: 2px solid rgb(8, 187, 241);
    padding: 0 8px;
    color: rgb(8, 187, 241);
}
#ButtonLogin{
    grid-area: ButtonLogin;
    width: 30%;
    position: relative;
    left: 35%;
<<<<<<< HEAD
    /*Style*/
    font-size: 12pt;
    background-color: #28a745;
    color: white;
    border: none;
=======
    border-radius: 2px;
    border: 2px solid rgb(8, 187, 241);
}

#CadastrarSe {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
}
