* {
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track{
  background-color: #D0FEFE;
  box-shadow: 0 0 5px white;
}
body::-webkit-scrollbar-button{
  background-color: black;
  height: 5%;
}

body::-webkit-scrollbar-thumb{
  background-color: #1F3B4D ;
  box-shadow: 0 0 5px black;
  border-radius: 20px;
  width: 90%;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: #017374;
}

body::-webkit-scrollbar-thumb:hover{
  background-color: #017374;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
    background-color: #101015;
    font-family: 'Sansita Swashed';
    width: 100%;
    height: 100%;
}

h3 {
  font-size: 3vh;
}

#Header {
  background-color: #000;
  width: 100%;
  height: 5%;
  position: fixed;
  z-index: 200;
}

.containerHeader {
  width: 98%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 990;
}


#Header i{
  position: relative;
  top: 1.3vh;
  font-size: 2.5vh;
  text-align: center;

}

footer{
  height: 5%;
  width: 100%;
  text-align: center;
  color: pink;
  background-color: #000;
  z-index: 200;
  position: fixed;
  bottom: 0;
}

footer a{
  text-decoration: none;
  color: aqua;
}