* {
  margin: 0px;
  padding: 0px;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
    background-color: #101015;
    font-family: 'Sansita Swashed';
    width: 100%;
    height: 100%;
}

header#Header {
  background-color: #000;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
div#button1 {
  background-color: rgb(77, 161, 240);
  width: 2.5%;
  height: 100%;
  text-align: center;
  position: relative;
  flex: 1 0 1;
}
div#button2 {
  background-color: rgb(77, 161, 240);
  width: 2.5%;
  height: 100%;
  border-left: black solid;
  text-align: center;
  position: relative;
  flex: 1 0 1;
}

#Header i{
  position: relative;
  top: 20%;
}

footer{
  width: 100%;
  background-color: wheat;
}