.Ticket {
    margin-right: 0.2%;
    height: 100%;
    width: 10%;
    position: relative;
    background-color: aliceblue;
    text-align: center;
    border-radius: 5%;
    font-family: 'Bangers';
    flex: 1 0 1;
    min-width: 55px;
}

#pago{

}

.Ticket::before {
    content: '';

    height: 100%;
    width: 10%;
    position: absolute;
    left: 0;
    background-color: cornflowerblue;
    transition: .3s ease;
}

#Pago::before {
    background-color: brown;
}

.Ticket:hover{
    content: '';
    background-color:rgba(0,0,0,0);
    transition: .3s ease;
}

.Ticket:hover::before{
    content: 'Loading...';
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 0 5% 5% 0;
    position: absolute;
    left: 0%;
}